@charset "UTF-8";
html, body, div, span, iframe, h1, h3, h3, h4, h5, p, a, img, ul, ol, li, dt, dd, table, tr, th, td, tbody, footer, header, main, nav, section, img, figure, input, textarea {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  list-style: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

ol, ul {
  list-style: none;
  list-style-type: none;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "Noto Sans JP", "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
}

@media screen and (max-width: 576px) {
  body {
    font-size: 12px;
  }
}

.wrap {
  margin: 0 auto;
  width: 1024px;
  max-width: 100%;
}

@media screen and (max-width: 992px) {
  .wrap {
    padding: 0 20px;
  }
}

@media screen and (max-width: 576px) {
  .wrap {
    width: auto;
  }
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 30px;
  margin-bottom: 30px;
  padding: 15px;
  width: calc(50% - 30px);
  max-height: 160px;
  height: 100%;
  border: solid 1px #707070;
}

@media screen and (max-width: 768px) {
  .card {
    margin-right: 0px;
    margin-bottom: 15px;
    width: 100%;
    min-height: 150px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.card .spot-img {
  margin: auto 10px auto 0;
  width: 60%;
}

@media screen and (max-width: 768px) {
  .card .spot-img {
    margin: 0 10px 0 0;
    width: auto;
  }
}

.card img {
  max-width: 100%;
  max-height: 130px;
  height: auto;
  vertical-align: bottom;
}

.card .desc p {
  margin-bottom: 5px;
  font-size: 14px;
  color: #707070;
}

@media screen and (max-width: 992px) {
  .card .desc p {
    font-size: 14px;
  }
}

.card .desc .spot-name {
  font-size: 20px;
}

@media screen and (max-width: 992px) {
  .card .desc .spot-name {
    font-size: 18px;
  }
}

.card .desc .review-count {
  margin-top: 18px;
  padding: 3px;
  border: solid 1px #707070;
  border-radius: 5px;
  font-size: 12px;
}

header {
  height: 100px;
  background: #F2F2F2;
}

@media screen and (max-width: 576px) {
  header {
    height: 60px;
  }
}

header .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 576px) {
  header .wrap {
    height: 60px;
  }
}

header .logo {
  margin-right: auto;
}

header .logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  color: #707070;
}

@media screen and (max-width: 992px) {
  header .logo a {
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  header .logo a {
    display: block;
    font-size: 10px;
  }
}

header .logo a img {
  margin-right: 10px;
}

@media screen and (max-width: 992px) {
  header .logo a img {
    width: 150px;
  }
}

@media screen and (max-width: 992px) {
  header .logo a img {
    width: 100px;
  }
}

header .nav-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 576px) {
  header .nav-menu ul {
    font-size: 10px;
  }
}

header .nav-menu ul li:not(:last-of-type) {
  margin-right: 50px;
}

@media screen and (max-width: 576px) {
  header .nav-menu ul li:not(:last-of-type) {
    margin-right: 20px;
  }
}

header .nav-menu ul a {
  color: #707070;
}

h3 {
  margin-bottom: 30px;
  padding-top: 40px;
  font-size: 22px;
  font-weight: 600;
  color: black;
}

.mypage-menu .menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 700px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #F2F2F2;
}

@media screen and (max-width: 576px) {
  .mypage-menu .menu-list {
    width: 100%;
  }
}

.mypage-menu a {
  margin-right: 30px;
  color: black;
}

@media screen and (max-width: 576px) {
  .mypage-menu a {
    margin-right: 10px;
    font-size: 10px;
  }
}

.mypage-menu a:hover {
  opacity: 0.6;
}

.sidebar {
  padding: 33px 13px;
  width: 20%;
  background: #DAD9D9;
}

@media screen and (max-width: 768px) {
  .sidebar {
    width: 30%;
  }
}

@media screen and (max-width: 576px) {
  .sidebar {
    margin: 0 auto;
    width: 80%;
    text-align: center;
  }
}

.sidebar .count {
  margin-bottom: 20px;
  color: #707070;
}

.sidebar .count-total {
  margin-bottom: 15px;
  font-size: 14px;
}

.sidebar .count-page {
  font-size: 16px;
}

@media screen and (max-width: 992px) {
  .sidebar .count-page {
    font-size: 14px;
  }
}

.sidebar .sort {
  color: #707070;
}

@media screen and (max-width: 992px) {
  .sidebar .sort {
    font-size: 14px;
  }
}

.sidebar .sort p {
  margin-bottom: 10px;
}

.sidebar .sort select {
  margin-bottom: 20px;
  width: 150px;
  height: 32px;
}

@media screen and (max-width: 992px) {
  .sidebar .sort select {
    width: 120px;
    font-size: 12px;
  }
}

.sidebar .sort input {
  display: block;
  margin-top: 10px;
  padding: 6px 58px;
  border: solid 1px #707070;
  border-radius: 10px;
  cursor: pointer;
}

@media screen and (max-width: 992px) {
  .sidebar .sort input {
    padding: 5px 40px;
  }
}

@media screen and (max-width: 576px) {
  .sidebar .sort input {
    margin: 0 auto;
  }
}

.sidebar .sort input:hover {
  background: #707070;
  color: #F2F2F2;
}

footer {
  width: 100%;
  height: 100px;
  background: #F2F2F2;
  line-height: 100px;
  color: #707070;
  text-align: center;
}

.top-img {
  position: relative;
  height: 200px;
  background: url(../img/cherry.jpg) no-repeat center;
  background-size: cover;
  text-align: center;
  color: #FAFAFA;
}

@media screen and (max-width: 576px) {
  .top-img {
    height: 150px;
  }
}

.top-img h1 {
  line-height: 200px;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 2.1px;
}

@media screen and (max-width: 576px) {
  .top-img h1 {
    line-height: 150px;
    font-size: 20px;
  }
}

.top-img h1 span {
  font-size: 80px;
}

@media screen and (max-width: 576px) {
  .top-img h1 span {
    font-size: 30px;
  }
}

main {
  text-align: center;
}

main.index {
  text-align: left;
}

.main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 50px auto;
}

@media screen and (max-width: 576px) {
  .main-content {
    display: block;
    margin: 50px 0;
    width: 100%;
  }
}

.main-content .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 80%;
}

@media screen and (max-width: 768px) {
  .main-content .content {
    padding-right: 20px;
  }
}

@media screen and (max-width: 576px) {
  .main-content .content {
    padding: 0 10%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
}

.pagination {
  padding-bottom: 30px;
}

.pagination ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 18px;
}

@media screen and (max-width: 992px) {
  .pagination ul {
    font-size: 16px;
  }
}

.pagination ul a {
  padding: 3px 10px;
  border: solid 1px #707070;
  color: #707070;
}

.pagination ul a:last-of-type {
  margin-right: 5px;
}

.pagination ul a:hover {
  background: #707070;
  color: #F2F2F2;
}

.pagination .active a {
  background: #707070;
  color: #F2F2F2;
}

.form-container {
  margin: 50px auto;
  color: #707070;
}

.form-container .form {
  margin: 0 auto;
  padding: 10px 70px 30px;
  max-width: 400px;
  width: 100%;
  background: #eeeeee;
  border-radius: 25px;
}

@media screen and (max-width: 576px) {
  .form-container .form {
    padding: 10px 30px 30px;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
  }
}

.form-container .form h2 {
  margin-bottom: 32px;
  font-size: 22px;
}

@media screen and (max-width: 768px) {
  .form-container .form h2 {
    font-size: 18px;
  }
}

.form-container .form p {
  margin-bottom: 20px;
}

.form-container .spot-form {
  max-width: 600px;
  padding: 10px 30px 30px;
}

@media screen and (max-width: 576px) {
  .form-container .spot-form {
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
  }
}

.form-container .spot-form p {
  margin: 0 100px 20px;
}

@media screen and (max-width: 576px) {
  .form-container .spot-form p {
    margin: 0 0 20px;
  }
}

.form-container .spot-form input[type="text"], .form-container .spot-form input[type="password"], .form-container .spot-form select {
  margin: 0 100px 20px;
}

@media screen and (max-width: 576px) {
  .form-container .spot-form input[type="text"], .form-container .spot-form input[type="password"], .form-container .spot-form select {
    margin: 0 0 20px;
  }
}

.form-container .spot-form .area-msg {
  margin-bottom: 0;
  text-align: center;
}

.form-container .area-msg {
  margin-bottom: 15px;
  text-align: left;
  font-size: 14px;
  color: red;
}

@media screen and (max-width: 768px) {
  .form-container .area-msg {
    font-size: 10px;
  }
}

.form-container label p {
  position: relative;
  margin-bottom: 10px;
  text-align: left;
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  .form-container label p {
    font-size: 14px;
  }
}

.form-container label .require::after {
  content: "必須";
  position: absolute;
  margin-left: 5px;
  margin-top: 3px;
  padding: 1px 3px;
  border-radius: 5px;
  font-size: 12px;
  color: #FFF;
  background: red;
}

.form-container label input[type="text"], .form-container label input[type="password"], .form-container label select {
  display: block;
  margin-bottom: 20px;
  padding: 5px 10px;
  width: 400px;
  height: 40px;
  border: 0.5px solid #707070;
  border-radius: 10px;
}

@media screen and (max-width: 576px) {
  .form-container label input[type="text"], .form-container label input[type="password"], .form-container label select {
    width: 100%;
  }
}

.form-container label textarea {
  padding: 5px 10px;
  width: 400px;
  height: 80px;
  border: 0.5px solid #707070;
  border-radius: 10px;
}

@media screen and (max-width: 576px) {
  .form-container label textarea {
    width: 100%;
  }
}

.form-container label.err input,
.form-container label.err select {
  background: #f7dcd9;
}

.form-container .area-pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 576px) {
  .form-container .area-pic {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.form-container .imgDrop-container {
  padding-right: 15px;
  width: 33.33%;
  text-align: left;
}

@media screen and (max-width: 576px) {
  .form-container .imgDrop-container {
    margin: 0 auto 10px;
    padding-right: 0;
    width: 80%;
  }
}

.form-container .imgDrop-container:last-child {
  padding-right: 0;
}

.form-container .area-drop {
  display: block;
  position: relative;
  width: 100%;
  height: 140px;
  border: 0.5px solid #707070;
  border-radius: 10px;
  line-height: 140px;
  text-align: center;
  font-size: 10px;
}

.form-container .area-drop input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.form-container .area-drop img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  width: auto;
  height: 100%;
}

.form-container br {
  display: none;
}

@media screen and (max-width: 576px) {
  .form-container br {
    display: block;
  }
}

.review-area-msg {
  margin: 15px 0 15px;
  text-align: left;
  font-size: 14px;
  color: red;
}

.btn {
  display: block;
  margin: 30px auto 0;
  width: 180px;
  height: 40px;
  background: #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #707070;
}

.btn:hover {
  background: #707070;
  color: #FFF;
  cursor: pointer;
}

input[type="checkbox"] {
  margin-right: 5px;
  width: 18px;
  height: 18px;
  vertical-align: middle;
}

.pass_save {
  display: block;
  margin-bottom: 30px;
  text-align: left;
}

.passRemind {
  margin-top: 10px;
}

.passRemind a {
  color: #707070;
  border-bottom: solid 1px #707070;
}

.passRemind a:hover {
  opacity: 0.6;
}

.withdraw-msg {
  margin-bottom: 50px;
  font-size: 20px;
}

@media screen and (max-width: 576px) {
  .withdraw-msg {
    font-size: 14px;
  }
}

.mypage-content h4 {
  margin: 30px 0;
  font-size: 22px;
}

.mypage-content .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  padding: 0 10%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.mypage-content .card:nth-of-type(2n) {
  margin-right: 0;
}

.mypage-content .category {
  text-align: left;
}

.prev {
  margin: 30px auto;
  text-align: left;
}

@media screen and (max-width: 576px) {
  .prev {
    margin: 15px auto;
  }
}

.prev a {
  color: #707070;
}

.prev a:hover {
  opacity: 0.6;
}

.spot-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
  background: #F2F2F2;
  color: #707070;
  text-align: left;
}

@media screen and (max-width: 576px) {
  .spot-content {
    margin: 0 20px 20px;
  }
}

.spot-content .content {
  display: block;
  margin: 0px 100px 34px;
}

@media screen and (max-width: 576px) {
  .spot-content .content {
    margin: 0 0 34px;
  }
}

.spot-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
  margin-bottom: 20px;
}

.spot-name .category {
  padding-right: 50px;
  line-height: 60px;
}

.spot-name h2 {
  margin: 0;
  font-size: 28px;
  line-height: 60px;
}

.spot-name .icn-favorite {
  line-height: 60px;
  font-size: 26px;
  margin-left: 50px;
  cursor: pointer;
}

.spot-name .icn-favorite.active {
  color: #fe8a8b;
}

.picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 47px;
}

.picture:last-child {
  padding-right: 0;
}

.picture .pic-wrap {
  padding-right: 40px;
  width: 33.33%;
  text-align: left;
}

@media screen and (max-width: 992px) {
  .picture .pic-wrap {
    padding-right: 15px;
  }
}

.picture .pic-wrap img {
  width: 100%;
}

address {
  font-style: normal;
}

address .addr-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 19px;
}

address .addr-container .addr-item {
  width: 100px;
}

address .addr-container .comment-txt {
  width: calc(100% - 100px);
}

.review-count {
  display: block;
  margin: 50px 0 24px;
  padding: 8px;
  width: 140px;
  border: solid 1px #707070;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
}

@media screen and (max-width: 992px) {
  .review-count {
    width: 110px;
    font-size: 14px;
  }
}

.review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  width: 100%;
}

.review .review-name {
  margin: 20px;
}

@media screen and (max-width: 576px) {
  .review .review-name {
    margin: 5px;
  }
}

.review .review-txt {
  position: relative;
  margin: 0 0 0 25px;
  padding: 10px;
  width: 80%;
  background: #DAD9D9;
  border-radius: 5px;
}

.review .review-txt .triangle {
  position: absolute;
  top: 20px;
  left: -28px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-right: 20px solid #DAD9D9;
  border-bottom: 10px solid transparent;
  border-left: 10px solid transparent;
}

.review-post {
  margin: 0 auto;
  width: 100%;
}

.review-post p {
  margin-bottom: 15px;
}

.review-post textarea {
  display: block;
  padding: 15px;
  width: 100%;
  border: solid 0.5px #707070;
  font-size: 18px;
}

.review-post .btn {
  background: #DAD9D9;
}

.review-post .btn:hover {
  background: #707070;
}

.msg-slide {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background: rgba(122, 100, 230, 0.7);
  text-align: center;
  font-size: 18px;
  line-height: 60px;
  color: #404040;
}

@media screen and (max-width: 576px) {
  .msg-slide {
    height: 30px;
    font-size: 12px;
    line-height: 30px;
  }
}
/*# sourceMappingURL=style.css.map */